.footerContainer {
    background: transparent !important;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.footerIcon {
    font-size: 22px;
    color: rgb(224, 52, 152);
}

.footerText {
    font-size: 14px;
    margin-bottom: 5px;
    margin-top: 3px;
}