.postThreadButtonContainer {
    position: absolute;
    width: 100%;
}

.threadTextLowerContainer {
    height: 170px;
    top: -50px !important;
}

.threadTextLower {
    margin-top: -6px;
    margin-left: 15px;
    position: relative;
    width: 100%;
    color: white;
    background-color: transparent;
    border: none;
    font-size: 14px;
    border-radius: none;
    outline: none;
    resize: none;
    height: 100%;
}

.topicItem {
    width: fit-content !important;
    color: white !important;
    font-size: 13px;
    margin-top: 5px !important;
}

.dropdownTopics {
    width: 100% !important;
    font-size: 14px;
    width: 100% !important;
}

ul.dropdown-menu.dropdownItems.show {
    right: 50px !important;
    border: none !important;
    outline: none !important;
    overflow: none !important;
}

ul.dropdown-menu.dropdownItems.show:hover {
    background: rgb(17, 17, 17) !important;
}

.dropdownItems {
    width: 100px !important;
    background: rgb(17, 17, 17) !important;
}

.topicHeader {
    font-size: 15px;
    margin-top: 25px;
    color: white !important;
    text-decoration: underline;
}

.dropdownTopics:hover {
    text-decoration: none;
}

.filterList {
    position: relative;
    z-index: 2;
    width: 150px;
    margin-left: 15px;
    border-bottom-left-radius: 25px;
    border-left: 1px solid rgb(224, 52, 152);
    border-bottom: 1px solid rgb(224, 52, 152);
    height: 210px;
}

.dropdown-item.topicItem:hover {
    cursor: pointer;
    text-decoration: underline;
    background: transparent !important;
    border-top: none;
}

.filterListText {
    font-size: 14px;
    margin-left: 5px;
}

.commentContainer {
    height: fit-content !important;
        position: relative;
        left: 2.5%;
        width: 95%;
        border-radius: 40px !important;
        height: 220px;
        overflow: visible;
        background: rgb(17, 17, 17);
}

.commentContainer {
    height: 280px !important;
}

.threadTextUpper {
    overflow: hidden;
        height: fit-content;
        margin-top: 7px;
        position: relative;
        z-index: 2;
        width: 100%;
        color: white;
        left: 15px;
        background-color: transparent;
        border: none;
        font-size: 18px;
        border-radius: none;
        outline: none;
        resize: none;
        border-bottom:1px solid  rgb(224, 52, 152);
}
.threadTitleContainer {
    position: relative;
    width: 100%;
}

.threadTitle {
    position: relative;
    width: 100%;
}

.upperLeftPostThreadContainer {
    width: 90%;
    left: 0;
}

.postThreadButton {
    cursor: pointer;
    margin-top: 50px;
    z-index: 9;
    font-size: 14px;
    text-align: center;
    position: relative ;
    left: auto;
    right: auto;
    top: 180px;
    width: 135px;
    height: 40px;
    border: none;
    outline: none;
    font-weight: 500;
    border-radius: 40px !important;
    padding: 8px 20px;
    color: white !important;
        background: linear-gradient(
            35deg,
            #be00e4 20%,
            rgb(224, 150, 52) 100%
        ) !important;
}

.postThreadButton:hover {
    text-decoration: underline;
}

.albumReviewButton {
    background: none;
    outline: none;
    border: none;
    color: rgb(224, 52, 152);
    font-size: 13px;
    right: 20px;
    position: absolute;
    top: 245px;
    text-decoration: underline;
}

.or {
    background: none;
    outline: none;
    border: none;
    font-size: 13px;
    right: 105px;
    position: absolute;
    top: 245px;
}

@media (max-width: 700px) {
    .or {
        display: none;
    }

    .albumReviewButton {
        display: flex;
        left: 0;
        margin-left: 15px;
    }
    .postThreadButtonContainer {
        position: absolute;
        width: 100%;
        justify-content: end;
        display: flex;
    }
    .postThreadButton {
        display: flex;
        justify-content: center;
        margin-right: 5px;
        border-bottom-right-radius: 200px !important;
        width: 110px;
        font-size: 13px;
        padding: 8px 10px;
    }
}