nav {
    background: linear-gradient(to bottom, #303030 0%, #161616 100%)!important;
    border-bottom: 2px solid rgb(224, 52, 152);
    height: 95px;
}

.FaSearch {
    margin-bottom: 3px;
}

.navContainer {
    justify-content: space-between !important;
    width: 100%;
}

.navImg {
    width: 300px;
    margin-top: -10px;
    height: 80px;
}

.navImg2 {
    display: none;
    height: 65px;
}

.content {
    display: flex;
    justify-content: center;
    font-size: 14px;
    width: 40%;
}

.search-bar {
    display: flex;
    margin-top: 25px;
    width: 100%;
}

.search-bar__input {
    padding: 0 0.5em;
    font-size:16px;
    margin-right: 5px;
    width: 100%;
    border-radius: 20px !important;
    background: rgb(224, 224, 224);
    outline: 0;
}

.search-bar__input:focus {
    padding: 0 0.5em;
    width: 100%;
    border: 1px solid rgb(224, 52, 152);
}

.search-bar__submit {
    font-size: 17px;
    color: whitesmoke;
    background: linear-gradient(
        35deg,
        #be00e4 20%,
        rgb(224, 150, 52) 100%
      );
    font-weight: bold;
    border: 1px solid white;
    width: 42px;
    height: 42px;
    border-radius: 50%;
    transition: width .5s;
    cursor: pointer;
}

.search-bar__submit:focus {
    transform: scale(0.9,0.9);
}

.signinBtn {
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 20px;
    padding-right: 20px;
    color: whitesmoke;
    background: linear-gradient(
        25deg,
        #bf09c5 20%,
        rgb(224, 150, 52) 100%
      );
    font-weight: 600;
    border-radius: 20px;
    margin-right: 25px;
    cursor: pointer;
    font-size: 15px;
    border: none;
    position: relative;
    z-index: 10;
}

.signinBtn:hover {
    text-decoration: underline;
}

.signinBtn:focus {
    transition: all ease-in .1s;
    transform: scale(0.95,0.95);
}

.signinContainer {
    position: relative;
    z-index: 1;
}

.signinh6 {
    font-weight: bold;
    color: white;
    margin-top: 17px;
    font-size: 14px;
    margin-right: 5px;
}



@media (max-width: 1150px) {
    .content {
        width: 43%;
        left: 30%;
    }
    .navImg {
        width: 250px;
        height: 70px;
    }
}

@media (max-width: 1000px) {
    .signinBtn {
        margin-right: 0px;
    }
    .navImg {
        display: none;
    }
    .navImg2 {
        display: inline-flex;
    }
}

@media (max-width: 750px) {
    nav {
        height: 75px;
    }
    .navImg2 {
        height: 50px;
        position: fixed;
        left: 45%;
        right: 55%;
    }
    .signinBtn {
        padding-left: 15px;
        padding-right: 15px;
        color: whitesmoke;
        border-radius: 20px;
        margin-right: 15px;
        position: relative;
        z-index: 1;
    }
    .signinContainer {
        position: fixed;
        right: 0;
        z-index: 2;
    }
    .content {
        display: block;
        top: -10px;
        left: 2%;
        width: 95%;
        position: absolute;
        z-index: 6;
    }
    .signinh6 {
        font-size: 12px;
        margin-top: 7px;
    }
    .search-bar {
        display: flex;
        border-radius: 500px;
        width: 44px;
        padding: 1px;
        background: rgb(255, 255, 255);
        transition: width 350ms cubic-bezier(0.18, 0.89, 0.32, 1.08);
        overflow: hidden;
        position: relative;
        z-index: 3;
    }
    .search-bar__input {
        flex-grow: 1;
        font-size: 14px;
        padding: 0 0.5em;
        top: 0;
        left: 0;
        bottom: 0;
        line-height: 16px;
        opacity: 0;
        cursor: pointer;
        position: absolute;
        z-index: 4;
    }
    .search-bar__submit {
        color: rgb(255, 255, 255);
        font-size: 19px;
        margin-left: auto;
        border: transparent;
        position: relative;
        z-index: 2;
    }
    .search-bar__submit:hover {
        outline: 0;
        box-shadow: 0 0 10px black;
    }
    .search-bar__submit:focus {
        outline: 0;
        box-shadow: 0 0 10px black;
    }
    .search-bar:focus-within {
        width: 101%;
    }
    .search-bar__input:focus-within {
        opacity: 1;
        width: 100%;
        background-color: transparent;
        border: 2px transparent;
        cursor: initial;
    }
}

@media (max-width: 700px) {
    .navImg2 {
        left: 44%;
        right: 56%;
    }
}

@media (max-width: 650px) {
    .navImg2 {
        left: 43%;
        right: 57%;
    }
}

@media (max-width: 550px) {
    .navImg2 {
        left: 42%;
        right: 58%;
    }
}

@media (max-width: 470px) {
    .navImg2 {
        left: 41%;
        right: 59%;
    }
}